@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700");

:root {
	/* Base font size */
	font-size: 10px;
	background: black;
}

body {
	font-family: "Montserrat", Arial, sans-serif;
	background-color: #0000;
}

header {
	/* Create grid spanning viewport width & height */
	display: grid;
	grid-template: 100vh / auto;
	overflow: hidden;
	box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.7);
}

.video-bg {
	/* Span the full grid */
	grid-area: 1 / 1 / -1 / -1;

	/* Re-size video to cover full screen while maintaining aspect ratio */
	width: 100%;
	height: 100%;
	object-fit: unset;

	/* Display video below overlay */
	z-index: -1;
}

.video-bg::-webkit-media-controls {
	display: none !important;
}

.video-overlay {
	/* Span the full grid */
	grid-area: 1 / 1 / -1 / -1;

	/* Center Content */
	/*display: flex;*/
	justify-content: center;
	align-items: center;
	text-align: center;

	/* Semi-transparent background */
	background-color: rgba(0, 0, 0, 0.55);
}

h1 {
	font-size: calc(2em + 0.2vw);
	font-weight: 200;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #fff;
	text-shadow: 0.05em 0.05em 0.05em rgba(0, 0, 0, 0.4);
}

main {
	padding: 5em 2em;
	max-width: 94em;
	margin: 0 auto;
}

h2 {
	font-size: calc(3em + 0.2vw);
	font-weight: 600;
	text-align: center;
	margin: 1.2em 0;
	color: #fff;
}

p {
	font-size: calc(2em + 0.2vw);
	font-weight: 400;
	line-height: 2;
	color: #fff;
}

::-moz-selection {
	background-color: rgba(0, 0, 0, 0.75);
	color: #fff;
}

::selection {
	background-color: rgba(0, 0, 0, 0.75);
	color: #fff;
}
